{% extends "layout.html" %}
{% set active_page = 'runfortran' %}
  {% block header %}
    <title>Input Fortran Code</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript">
            function replace_right_div() {
                var origin = window.location.origin + "/show_fortran_results";
                var code_input = $("#code").val();
                $.ajax({
                type: "POST",
                url: origin,
                data: {code: code_input, pname: "test.f90"},
                success: function(result){
                                                                         $( "div.show-code" ).replaceWith
                                                                         (result);
                                                                     }
                });
        };
</script>
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>

<script>
    function auto_grow(element) {
    element.style.height = "5px";
    element.style.height = (element.scrollHeight)+"px";
}
function getBrowserSize() {
    var div = document.createElement('div');
    div.style.position = 'absolute';
    div.style.top = 0;
    div.style.left = 0;
    div.style.width = '100%';
    div.style.height = '100%';
    document.documentElement.appendChild(div);
    var results = {
        width: div.offsetWidth,
        height: div.offsetHeight
    };
    div.parentNode.removeChild(div); // remove the `div`
    console.log(results)
    return results;
}
</script>
    {{super()}}
<style>
.wrapper {
  overflow: hidden;
}

.show-code {
overflow: hidden;
background-color: blue;}

.textarea {
width: 100%;
overflow: hidden;
}

.left {
  overflow: hidden;
  background-color: red;
  float: left;
  width: 49%;
}
.right {
overflos: hidden;
background-color: red;
width: 49%;
float: right;
}

</style>
  {% endblock %}

  {% block body %}

  {{ super() }}
<div class="wrapper">
    <div class="left">
        <textarea name="code" id="code" oninput="auto_grow(this)">{{code}}</textarea>
        <button name="submit" onclick="replace_right_div()" style="float:right width:100%">Test Button</button>
    </div>
    <div class="show-code"> Right side div</div>
</div>

  {% endblock %}

