<!DOCTYPE html>
{% set active_page = active_page | default('layout') %}
<html>


<head>

    <style>
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

    </style>
    <div class="topnav">
        <a class="{{'active' if active_page == 'index' }}" href="index">Home</a>
        <a class="{{'active' if active_page == 'runfortran' }}" href="runfortran">Run Fortran</a>
        <a class="{{'active' if active_page == 'aboutme' }}" href="about_me">About</a>
    </div>
    {% block header %}
    {% endblock %}
</head>

<body>
{% block body %}
{% endblock %}
</body>
</html>