<!DOCTYPE html>
<html>
<head>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript">
        function newButtonClickListener() {
                var origin = window.location.origin + "/test";
                $.ajax({url: origin,
                type: "GET",
                                                            dataType: 'html',
                                                            success: function(result){
                                                                         $( "div.replace_me" ).replaceWith
                                                                         (result);
                                                                     }
                                                            });
        };

     </script>
</head>
<body>
     <button onclick="newButtonClickListener()">Insert after</button><br/>

<div class="replace_me">
     text
</div>
</body>
</html>