
<div>
<div class="topnav">
    <a class="{{'active' if active_page == 'index' }}" href="index">Home</a>
    <a class="{{'active' if active_page == 'runfortran' }}" href="runfortran">Run Fortran</a>
    <a class="{{'active' if active_page == 'aboutme' }}" href="about_me">About</a>
</div>
{% block body %}
<div class="back">
    <div id="col1" style="width:47%;margin:0 2px;color:red;float:left;background-color:blue">
        <h1> Test Div 1 </h1>

    </div>
    <div id="col2" style="width:47%;margin:0 2px;color:blue;float:left;background-color:red">
        Test Div 2
    </div>
</div>
{% endblock %}
</div>
